h1 {
  text-align: center;
  width: 200px;
  font-family: "StolzlBold";
  font-weight: 900;
}

p {
  padding: 10px 15px;
}

.img-demo {
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.product-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.product-info-block {
  display: flex;
  flex-direction: column;
}

.bold {
  font-family: "StolzlBold";
  font-weight: 900;
}
.gray {
  font-family: "StolzlRegular";
  font-weight: 400;
  color: #15223680;
}

.btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.moto {
  display: flex;
  justify-content: center;
  align-items: center;
}
