.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.banner-img {
  object-fit: cover;
}

.banner .button-banner {
  z-index: 3;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #91979b;
  font-size: 30px;
}

.swiper-pagination-bullets {
  margin-bottom: 15px;
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: transparent;
  border: 2px solid #656769;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #91979b;
  border: 2px solid #91979b;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 50px;
}
