.button {
  background-color: #91979b;
  color: #ffffff;
  height: 50px;
  border-color: transparent;
  border-radius: 72px;
  cursor: pointer;
  font-family: "StolzlRegular";
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button:hover {
  background-color: #4a4d4f;
}

.button:focus {
  background-color: #4a4d4f;
}

.button-banner {
  position: absolute;
  margin-bottom: 100px;
  font-family: "StolzlRegular";
  font-weight: 400;
  font-size: 20px;
}
