.container {
  display: grid;
  grid-template-columns: 50vw 50vw;
  align-items: center;
  margin: 25px 0px;
}

.item:nth-child(odd) {
  margin-left: 20px;
  font-family: "NexaHeavy";
  font-weight: 900;
  color: #152236;
}

#item-head {
  font-family: "NexaHeavy";
  font-weight: 900;
  color: #152236;
}

.item {
  font-family: "StolzlBook";
  font-weight: 400;
  color: #15223680;
}

.item + .item-compos:nth-child(odd) {
  font-family: "NexaHeavy";
  font-weight: 900;
  color: #152236;
}
