.footer {
  background-color: #91979b;
  padding: 20px;
}

.ref {
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
}

h2 {
  color: #ffffff;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  visibility: hidden;
}

input[type="email"] {
  height: 40px;
  background-color: #91979b;
  border: 1px solid #ffffff;
  border-radius: 72px;
  padding: 0 20px 0 20px;
  color: #ffffff;
  font-family: "StolzlLight";
  font-weight: 300;
}

input[type="email"]::placeholder {
  color: #ffffff;
  font-family: "StolzlLight";
  font-weight: 300;
}

textarea {
  background-color: #91979b;
  border: 1px solid #ffffff;
  border-radius: 19px;
  padding: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: "StolzlLight";
  font-weight: 300;
  resize: none;
}

textarea::placeholder {
  color: #ffffff;
  font-family: "StolzlLight";
  font-weight: 400;
}

input[type="submit"] {
  background-color: #ffffff;
  color: #91979b;
  height: 40px;
  border-color: transparent;
  border-radius: 72px;
  cursor: pointer;
  font-family: "StolzlRegular";
  font-weight: 400;
  font-size: 18px;
}

input[type="submit"].success {
  background-color: #91979b;
  color: #ffffff;
  border: 1px solid #ffffff;
}

input[type="submit"]:hover {
  background-color: #4a4d4f;
  color: #ffffff;
}

input[type="submit"]:focus {
  background-color: #4a4d4f;
  color: #ffffff;
}

input[type="submit"]:disabled {
  background-color: #91979b;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.footer-head {
  font-family: "StolzlRegular";
  font-weight: 400;
  font-size: 36px;
  color: #ffffff;
  text-align: center;
  padding: 0;
  margin: 10px 0;
}

.footer-policy {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

a + a {
  margin-left: 20px;
}

a {
  color: #ffffff;
  text-align: center;
}
