.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  margin-bottom: -10vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 6vh;
  border: 1px solid #000000;
  border-radius: 123px;
  position: fixed;
  z-index: 10;
  opacity: 0.6;
  backdrop-filter: blur(5px);
}

.navbar-logo {
  width: 10vw;
  height: 7vh;
  margin: 0 auto 0 45%;
}

.navbar-logo img {
  height: 7vh;
  width: 10vw;
}

.cart {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.cart img {
  width: auto;
  height: 3vh;
  margin-right: 15px;
}

.lang-menu {
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: #ffffff;
  opacity: 1;
  width: 25%;
  height: 200%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 12;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.21);
}

.lang {
  font-family: "StolzlBook";
  font-weight: 400;
  font-size: 15px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang + .lang {
  border-top: 1px solid #3a4d66;
  width: 24px;
}

.lang-btn {
  position: absolute;
  top: 28%;
  left: 5%;
  background-color: transparent;
  border-color: transparent;
  font-family: "StolzlBook";
  font-weight: 400;
  font-size: 15px;
}
